$redesSociales: (
    instagram: $rosa,
    whatsapp: $verde,
    telefono: $azul,
);

@each $nombre, $color in $redesSociales {
    .link--#{$nombre} {
    color: white;
    font-size: 35px;
    padding: 20% 0;
    transition: color 0.4s ease-out;
    transition: transform 0.4s ease-out;

    &:hover {
        color: $color;
        transform: scale(1.2);
    }

    }
}

.footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 0px 45px 0px;

    &__texto {
            color: white;
            line-height: 105%;
            padding: 0px 0px 0px 10px;
            font-weight: 300;
            text-decoration: none;

            &__span {
                color: rgb(85, 85, 85);
                font-weight: 500;
            }
    }

.telefono {
    font-size: 30px;
}
}