.main__section2 {
    display: flex;
    justify-content: space-around;
    &__article1 {
        @extend .main__section2__articles
    }
    &__article2 {
        @extend .main__section2__articles
    }
    &__article3 {
        @extend .main__section2__articles
    }
}

.main__section2__articles {
    width: 30%;
    text-align: center;
}

.main__section3 {
    display: flex;
}

.main__section__article {
    color:white;

    &__p1 {
        font-size: 35px;
        font-weight: 500;
        line-height: 95%;
        margin: 0;

        &__h1 {
            color: $rosa;
            font-size: 35px;
            font-weight: 500;
            line-height: 95%;
            font-weight: 700;
            margin: 0;
        }
    }

    &__p2 {
        line-height: 110%;
        font-weight: 300;
    }
}

.padding {
    padding: 0;
}

.wave {
    width: 100%;
}