.bordes {
    border-right: solid 1px #FF50BA;
    border-left: solid 1px #FF50BA;
}

.botones {
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Poppins';
    border: solid 1px rgb(31, 31, 31);
    margin: 0px 5px;
}

.botones:hover {
    background-color: white;
    color: #FF50BA;
    border-left: solid 1px #FF50BA;
    border-right: solid 1px #FF50BA;
}