$body-bg:  rgb(255, 255, 255);
$body-bg2: linear-gradient(99deg, rgb(41, 41, 41) 10.6%, rgb(0, 0, 0) 118%);
$header-bg: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 64%);
$rosa: #FF50BA;
$verde: #aee23f;
$azul: #4185E4;
